<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="../public/styles/form.css">
    <script  src="../public/scripts/general.js"></script>
    <script  src="../public/scripts/cadastro.js"></script>
    <title>Cadastro</title>
</head>
<body>
<script>header();</script>
<div class=" firstFrame">
    <img class="animate__animated animate__fadeIn" style="animation-duration: 3s;" src="../public/images/photos/pingado.png"  alt="">
    <div class="animate__animated animate__fadeIn" style="animation-duration: 3s;">
        <h1>Cadastre-se para uma Jornada Cafeinada</h1>
        <p>Cadastre-se agora para entrar no mundo do Kaway Café, onde o café é mais do que uma bebida, é uma paixão compartilhada. Ao fazer parte da nossa comunidade de apreciadores de café, você terá acesso a uma série de vantagens exclusivas, incluindo atualizações sobre nossos cafés especiais, eventos emocionantes e ofertas imperdíveis.<br><br>
            Nossa missão é levá-lo a uma jornada sensorial, onde cada xícara é uma descoberta e cada gole é uma experiência única. Junte-se a nós no Kaway Café e faça parte de uma comunidade apaixonada por café. Cadastre-se agora para embarcar nessa emocionante jornada cafeinada.</p>
    </div>
</div>
<div class="cadastro">
    
    <form>
        <center>
        <label for="">Nome</label><br>
        <small id="sNome">o nome deve ter ao menos 3 caracteres</small>
        <input placeholder="digite seu nome aqui" type="text" name="nome" id="nome" required><br>
        
        
        <label for="">Telefone</label><br>
        <small id="sTelefone">o telefone deve estar no seguinte formato "(xx) xxxxx-xxxx"</small>
        <input placeholder="digite seu telefone aqui" type="tel" name="telefone" id="telefone" required><br>
        

        <label for="">CPF</label><br>
        <small id="sCPF">o CPF deve estar no seguinte formato "xxx.xxx.xxx-xx"</small>
        <input placeholder="digite seu CPF aqui" type="text" name="cpf" id="cpf" required><br>

        <label for="">Senha</label><br>
        <small id="sSenha">a senha precisa conter ao menos 1 letra e um numero, e ao menos 8 caracteres</small>
        <input placeholder="digite sua senha aqui" type="password" name="senha" id="senha" required><br>
        <label class="showPass" onclick="showPass();">👁️</label><br>

        <button type="button" onclick="cadastrar();">Cadastrar</button>
    </center>
    </form>
</div>
<script>footer();</script>
</body>
</html>