<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kaway Café</title>
</head>
<script src="../public/scripts/general.js"></script>   
<body>
    <script>header();</script>
    <div class=" firstFrame">
        <img class="animate__animated animate__fadeIn" style="animation-duration: 3s;" src="../public/images/photos/coffee.png"  alt="">
        <div class="animate__animated animate__fadeIn" style="animation-duration: 3s;">
            <h1>Kaway Café</h1>
            <p>No Kaway Café, café e alegria caminham de mãos dadas. Junte-se a nós em uma jornada onde a diversão é garantida, e a camaradagem é celebrada. Dê as boas-vindas ao nosso espaço aconchegante e empolgante, onde café e karaokê se unem em perfeita harmonia.
            <br><br>Venha nos visitar e vivencie experiências que ficarão gravadas na memória. O Kaway Café é o lugar onde o café e a festa se unem para criar memórias inesquecíveis.</p>
        </div>
    </div>
    <div class="secondFrame">
        <div class="firstCol">
            <h1>Uma Viagem Sensorial</h1>
            <p>Nossa jornada no Kaway Café começa com uma exploração das maravilhas do café.<br><br>Seja você um apreciador do espresso robusto, um amante do cappuccino cremoso ou um aventureiro sedento por novas experiências, temos a xícara perfeita para satisfazer seu paladar exigente.<br><br>Cada gole é uma oportunidade de desvendar a complexidade do café, da semente à infusão.</p>
        </div>
        <div class="secondCol">
            <h1>Karaokê em Destaque</h1><br>
            <p>No coração pulsante do Kaway Café, descortina-se um reino de entretenimento musical com nossas salas de karaokê.<br><br>
                Reúna amigos e familiares, escolha suas músicas favoritas e liberte sua voz em um ambiente privativo, onde a diversão e o entretenimento reinam supremos.<br><br>Seja você um veterano do karaokê ou um novato ansioso por experimentar, nossas salas foram projetadas para encantar a todos.</p>
        </div>        
    </div>
    <div class="thirdFrame">
        <img src="../public/images/photos/coffee2.png" width="350" height="450">
        <div>
            <h1>Sabores que Cativam</h1>
            <p>Além do café, o nosso cardápio apresenta uma riqueza de sabores.<br><br> Explore nossos bolos e sobremesas frescas, preparados com carinho e ingredientes de alta qualidade.<br><br>De opções clássicas a criações exclusivas, cada mordida é uma celebração de sabor.</p>
            <button type="button" onclick="cardapioPage()">CARDÁPIO</button>
        </div>
        
    </div>
    <script>footer();</script>
</body>
</html>